doctype html 
html
  head  
    link(rel="stylesheet", href="../css/about-us.css",type='text/css')
  body 
    .container 
      img.background_image(src='../picture/bg.png')
      img.find_now(src='../picture/un-find now.png')
    
      img.arrow_1(src="../picture/arrow.png" style="visibility: hidden;")
      img.arrow_2(src="../picture/arrow.png" style="visibility: hidden;")
      img.arrow_3(src="../picture/arrow.png" style="visibility: hidden;")
      img.arrow_4(src="../picture/arrow.png" style="visibility: hidden;")
      img.arrow_5(src="../picture/arrow.png" style="visibility: hidden;")
      img.arrow_6(src="../picture/arrow.png" style="visibility: hidden;")
    
      img.short_1(src="../picture/short1.png")
      img.short_2(src="../picture/short2.png")
      img.short_3(src="../picture/short3.png")
      img.short_4(src="../picture/short4.png")
      img.short_5(src="../picture/short5.png")
      img.short_6(src="../picture/short6.png")


      img.tall_1(src="../picture/tall1.png" style="visibility: hidden;")
      img.tall_2(src="../picture/tall2.png" style="visibility: hidden;")
      img.tall_3(src="../picture/tall3.png" style="visibility: hidden;")
      img.tall_4(src="../picture/tall4.png" style="visibility: hidden;")
      img.tall_5(src="../picture/tall5.png" style="visibility: hidden;")
      img.tall_6(src="../picture/tall6.png" style="visibility: hidden;")

      img.genius_1(src="../picture/ginius1.png" width="15%" height="15%")
      img.genius_2(src="../picture/ginius2.png" width="15%" height="15%")
      img.genius_3(src="../picture/ginius3.png" width="15%" height="15%")
      img.genius_4(src="../picture/ginius4.png" width="15%" height="15%")
      img.genius_5(src="../picture/ginius5.png" width="15%" height="15%")
      img.genius_6(src="../picture/ginius6.png" width="15%" height="15%")

      img.name_1(src="../picture/un-name1.png")
      img.name_2(src="../picture/un-name2.png")
      img.name_3(src="../picture/un-name3.png")
      img.name_4(src="../picture/un-name4.png")
      img.name_5(src="../picture/un-name5.png")
      img.name_6(src="../picture/un-name6.png")

      img.about_us(src="../picture/un-about us.png")
      img.news(src="../picture/un-news.png")
      img.equipment(src="../picture/un-equipment.png")
      img.together(src="../picture/un-together.png")
      img.connect(src="../picture/un-connect us.png")
      //- button.myBtn(onclick="topFunction()"  title="Go to top" src="picture/top.png")

    script(src='../about us.js')

