body
    margin:0px

.container
    position: absolute
    .background_image
        width:100%

    .find_now
        position: absolute
        top: 20%
        left: 16%
        width: 18%
        height: 15%
        z-index: 2
    
    $arrow-position :absolute
    $arrow-width : 5%
    $arrow-height : 3%
    $arrow-top : 54%

    .arrow_1
        position: $arrow-position
        top: $arrow-top
        left: 6.5%
        width: $arrow-width
        height: $arrow-height

    .arrow_2
        position: $arrow-position
        top: $arrow-top
        left: 22.5%
        width: $arrow-width
        height: $arrow-height

    .arrow_3
        position: $arrow-position
        top: $arrow-top
        left: 38.5%
        width: $arrow-width
        height: $arrow-height
    .arrow_4
        position: $arrow-position
        top: $arrow-top
        left: 54.5%
        width: $arrow-width
        height: $arrow-height
    
    .arrow_5
        position: $arrow-position
        top: $arrow-top
        left: 70.5%
        width: $arrow-width
        height: $arrow-height

    .arrow_6
        position: $arrow-position
        top: $arrow-top
        left: 86.5%
        width: $arrow-width
        height: $arrow-height
    
    .short_1
        position: absolute
        top: 72.5%
        left: 0.1%
        width: 18%
        height: 10%
        z-index: 2

    .short_2 
        position: absolute
        top: 72.5%
        left: 18%
        width: 15%
        height: 10%
        z-index: 2


    .short_3 
        position: absolute
        top: 70.5%
        left: 34%
        width: 15%
        height: 12%
        z-index: 2


    .short_4 
        position: absolute
        top: 73.5%
        left: 50%
        width: 15%
        height: 9%
        z-index: 2


    .short_5 
        position: absolute
        top: 72.5%
        left: 65.5%
        width: 16%
        height: 10%
        z-index: 2


    .short_6 
        position: absolute
        top: 72.5%
        left: 81%
        width: 18.5%
        height: 10%
        z-index: 2

