doctype html 
html
  head  
    link(rel="stylesheet", href="./css/about-us.css",type='text/css')
  body 
    div(class='container')
      img(class='background_image' src='picture/bg.png')
      img(class='find_now' src='picture/un-find now.png')
    
      img(class="arrow_1" src="picture/arrow.png" style="visibility: hidden;")
      img(class="arrow_2" src="picture/arrow.png" style="visibility: hidden;")
      img(class="arrow_3" src="picture/arrow.png" style="visibility: hidden;")
      img(class="arrow_4" src="picture/arrow.png" style="visibility: hidden;")
      img(class="arrow_5" src="picture/arrow.png" style="visibility: hidden;")
      img(class="arrow_6" src="picture/arrow.png" style="visibility: hidden;")
    
      img(class="short_1" src="picture/short1.png")
      img(class="short_2" src="picture/short2.png")
      img(class="short_3" src="picture/short3.png")
      img(class="short_4" src="picture/short4.png")
      img(class="short_5" src="picture/short5.png")
      img(class="short_6" src="picture/short6.png")


      img(class="tall_1" src="picture/tall1.png" style="visibility: hidden;")

      img(class="genius_1" src="picture/ginius1.png" width="15%" height="15%")

      img(class="name_1" src="picture/un-name1.png")



    script(src='about us.js')

